version: '3'
services:
  app:
    build: .
    ports:
      - "{{ .service.GrpcPort }}:{{ .service.GrpcPort }}"
{{if .service.EnableHttp }}      - "{{ .service.HttpPort }}:{{ .service.HttpPort }}"{{end}}
    depends_on:
      - mongo
  mongo:
{{ if or .mongo.Username .mongo.Password}}    environment:
{{ if .mongo.Username }}       MONGO_INITDB_ROOT_USERNAME: {{ .mongo.Username }}{{end}}
{{ if .mongo.Password }}       MONGO_INITDB_ROOT_PASSWORD: {{ .mongo.Password }}{{end}}
{{end}}    hostname: mongodb-server
    image: mongo:3.4
{{if .mongo.Address }}    ports:
      - "{{ .mongo.Port }}:27017"{{end}}
    restart: always